<html>
		<head>
			<title>Personal Portfolio</title>

			<style type="text/css">

			/*do not include for now* {
				border: 1px solid black;
			}*/

			body{
				background-color: #ffffff;
			}

			#banner{
				width:900px;
				height:150px;
				border: solid 1px #000;
				margin:0 auto;
				text-align: center;
				background-color: #000;
				font-weight: 500;
				line-height: 3.1;
				font-size: 30pt;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			}

			nav{
				background-color: #b24c9d;
				width:900px;
				height:50px;
				border: solid 1px #000;
				margin:0 auto;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				font-size: 14px;
				line-height: 3;
				color: #333;
			}

			li{
				/*display:inline;*/
				float:left;
				width: 25%;
				text-align:center;
			}

			ul{
				list-style-type: none;
				margin: 0;
				padding:0;
				width: 100%;
			}

			:hover {
				color: #f00;
			}

			#sectionWrapper {
				width: 900px;
				margin: 0 auto;

			}

			.section1 {
				width: 900px;
				height: 800px;
				border: solid 1px black;
				margin: 0 auto;
				text-align: center;
				background-color: #25bda8;
				line-height: 1.5;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				font-size: 20px;
				color: #333;

			}

			.section2 {
				width: 900px;
				height: 1000px;
				border: solid 1px black;
				margin: 0 auto;
				text-align: center;
				background-color: #ffffff;
				line-height: 3;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				font-size: 14px;
				color: #333;

			}

			.section3 {
				width: 900px;
				height: 1000px;
				border: solid 1px black;
				margin: 0 auto;
				text-align: center;
				background-color: #b24c9d;
				line-height: 1.5;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				font-size: 14px;
				line-height: 3;
			}


			#paragraph1{
				color: white;
				padding: inherit;
				color: white;
				margin-left: 35px;
				margin-right: 35px;

			}

			#paragraph2{
				color: white;
				padding: inherit;
				color: white;
				margin-left: 35px;
				margin-right: 35px;
			}

			#paragraph3{
				color: white;
				padding: inherit;
				color: white;
				margin-left: 35px;
				margin-right: 35px;
			}


			#socialMediaIcons {
				position: fixed;
				width: 50px;
				height: 50px;
				right: 0px;
				top: 10%;
			}

			IMG.displayed {
			    display: block;
			    margin-left: auto;
				margin-right: auto;
			}

			.clear {
				clear:both;
			}

			</style>
		</head>

		<body>
			<div id="sectionWrapper">
				<div id="banner"><font color="white">Maria Holland's Personal Portfolio</font>
				</div>
					<nav>
						<ul>
							<font color="white">
		  					<li><a href="#HOME"><font color="white">HOME</font></a></li>
		  					<li><a href="#ABOUT"><font color="white">ABOUT</font></a></li>
		  					<li><a href="#PORTFOLIO"><font color="white">PORTFOLIO</font></a></li>
		  					<li><a href="#CONTACT"><font color="white">CONTACT</font></a></li>
						</ul>
					</nav>
					<section class="section1"><a name="#ABOUT"></a>
						<img class="displayed" img src="/images/Section1Graphic.png">
							<div id="paragraph1">
							Hate dog inspect anything brought into the house. Run in circles burrow under covers mark territory leave dead animals as gifts and sun bathe sweet beast flop over. Burrow under covers stretch. All of a sudden go crazy leave dead animals as gifts and intrigued by the shower or give attitude. Stretch chew iPad power cord for leave hair everywhere.
							<br>
							<br>
							Burrow under covers stretch. All of a sudden go crazy leave dead animals as gifts and intrigued by the shower or give attitude. Stretch chew iPad power cord for leave hair everywhere.
						</div>					
					</section>
						
					<section class="section2"><a name="PORTFOLIO"></a>
						<img class="displayed" img src="images/Section2Graphic.png">
					</section>

					<section class="section3"><a name="CONTACT"></a>
						<img class="displayed" img src="images/Section3Graphic.png">
					</section>
			</div>
		</body>
	</html>